aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
discord.py==1.6.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
multidict==5.1.0
pymessenger==1.0.0 @ git+https://github.com/davidchua/pymessenger.git#egg=pymessenger
pyTelegramBotAPI==3.7.7
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
yarl==1.6.3
